body {
  background-color: rgba(167, 208, 250, 0.395);
}

.container {
  width: 315px;
  height: 510px;
  background-color: white;
  margin: auto;
  margin-top: 8px;
  border-radius: 15px;
}

img {
  width: 289px;
  height: 289px;
  align-items: cener;
  text-align: cente;
  border-radius: 10px;
  margin-left: 13px;
  margin-top: 13px;
}

h2 {
  margin-top: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: 17px;
  text-align: center;
  color: rgba(27, 26, 26, 0.717);
}